.cont{
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
div{
    max-width: 83.333333%;
}

.imgc{
    object-fit: cover;
    width: 400px;
    height: 400px;
    margin: 25px;
}

@media screen and (max-width: 950px) {
    .imgc {
        aspect-ratio: 1 / 1;
        width: 50%;
        height: 50%;
        object-fit: cover;
    }
}